<!DOCTYPE html>
<html>
    <mat-toolbar colour ="primary">
        Welcome to Notes App

        <div>
        <button mat-button routerLink = "/login">
            <mat-icon>login</mat-icon>
            login
            </button>
            <button mat-button routerLink = "/signup">
              <mat-icon>login</mat-icon>
              Signup
              </button>
            </div>
    </mat-toolbar>
<head>
<style>
body  {
  background-image: url("https://legacynyplorg-live.s3.amazonaws.com/s3fs-public/sitcky-notes-2.5_secs.gif");
  
}
</style>
</head>
<body>

<router-outlet></router-outlet>