.sign-up-link {
    font-size: 1.2rem;
    margin-left: 8px;
}



  html,

  body {
    height: 100%;
    background-image: url("https://cdn.dribbble.com/users/653699/screenshots/15648656/media/9d41b3c079f3ca5e14f6641b73e5cc08.png?compress=1&resize=1000x750&vertical=top");
  }


.form-container {
  display: block;
  max-width: 300px;
  margin: auto;

  background: #eceff1;
  padding: 48px;
  border-radius: 16px;


}

.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px !important;
}

.text-center {
  text-align: center;
}
