<p>notes work!</p>
<ng-container *ngIf="user$ | async as user">
    
    <h1>Welcome to the home page, {{user.uid}}! </h1>
    
    <div class="note_input" id="note_inputt">
        
        <form (ngSubmit) = "onSubmit()">

          <ul>
            <li>
              <a href="#" contenteditable>
                <h2>Title #1</h2>
                <p>Text Content #1</p>
             
          <div><input [(ngModel)] = "note.note" name="note" type="text" placeholder="Enter your note"></div>
            <br><br>
            <button type="submit" class="btn btn-success">Add note</button>
          </a>
        </li>
          </ul>
        </form>

        <tbody>
            <tr *ngFor = "let note of notes" >
                
                <td> {{ note.note }} </td>
               
                
                <td>
                  <!--  <button (click) = "editnote(note.id)" class = "btn btn-info"> Update</button>-->
                    <button (click) = "deleteNote(note.nid)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button> 
                </td>
            </tr>
        </tbody>
    </div>
    <ul>
        <li>
          <a href="#" contenteditable>
            <h2>Title #1</h2>
            <p>Text Content #1</p>
          </a>
        </li>
        <li>
          <a href="#" contenteditable>
            <h2>Title #2</h2>
            <p>Text Content #2</p>
          </a>
        </li>
        <li>
          <a href="#" contenteditable>
            <h2>Title #3</h2>
            <p>Text Content #3</p>
          </a>
        </li>
        <li>
          <a href="#" contenteditable>
            <h2>Title #4</h2>
            <p>Text Content #4</p>
          </a>
        </li>
        <li>
          <a href="#" contenteditable>
            <h2>Title #5</h2>
            <p>Text Content #5</p>
          </a>
        </li>
        <li>
          <a href="#" contenteditable>
            <h2>Title #6</h2>
            <p>Text Content #6</p>
          </a>
        </li>
        <li>
          <a href="#" contenteditable>
            <h2>Title #7</h2>
            <p>Text Content #7</p>
          </a>
        </li>
        <li>
          <a href="#" contenteditable>
            <h2>Title #8</h2>
            <p>Text Content #8</p>
          </a>
        </li>
      </ul>
</ng-container>