<!DOCTYPE html>
<html class="body">
  
  <ng-container *ngIf="user$ | async as user">
    <head>
      <style>
      body  {
        background-image: url("https://legacynyplorg-live.s3.amazonaws.com/s3fs-public/sitcky-notes-2.5_secs.gif");
        
      }
      </style>
      </head>
    
    <h1>Welcome to the home page, {{user.uid}}! </h1>
    
    <div class="note_input" id="note_inputt">
    <div class="body">

        <form (ngSubmit) = "onSubmit()">

          <ul>
            <li>
              <a href="#" contenteditable >

          <div><input [(ngModel)] = "note.note" name="note" type="text" placeholder="Enter your note"></div>
            <br><br>
            <button type="submit" class="btn btn-success">Add note</button>
          </a>
        </li>
          </ul>
        </form>

        <div class ="grid-container" *ngFor = "let note of notes">
           
              <div>
              <ul class ="grid-item" >
                <li>
                  <a  >  
              <div>  {{ note.note }} </div>
                    <br><br>
              <button (click) = "editnote(note.nid)" class = "button"> Update</button>
                    <button (click) = "deleteNote(note.nid)" class = "button" style="margin-left: 10px"> Delete</button> 
                  </a>
                  
                </li>
              </ul>
            </div>
           
          </div>
    </div>
    <ul>
      
       
        <li>
          <a href="#" contenteditable>
            <h2>Title #7</h2>
            <p>Text Content #7</p>
          </a>
        </li>
        <li>
          <a href="#" contenteditable>
            <h2>Title #8</h2>
            <p>Text Content #8</p>
          </a>
        </li>
      </ul>
    </div>
</ng-container>
</html>