#backgrounds{
  background:url("https://img.freepik.com/premium-photo/blank-backboard-background_24076-517.jpg?w=360");     
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
  
  *{
    margin:0;
    padding:0;
    background-color: transparent;
  }
  .grid-container {
    display: inline-table;
    grid-template-columns: repeat(3, 1fr);
    background-color: transparent;
    
  }
  .button {
  padding: 5px 15px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 7px;
  box-shadow: 0 4px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
  .grid-item {
    background-color: transparent;
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }
  
  h2 {
    font-weight: bold;
    font-size: 2rem;
    background-color: transparent;
  }
  p {
    font-family: 'Reenie Beanie';
    font-size: 2rem;
  }
  ul,li{
    list-style:none;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
  }
  ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
  }
  
  ul li:nth-child(even) a{
    transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
  }
  ul li:nth-child(3n) a{
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:rgb(33, 33, 165);
  }
  ul li:nth-child(5n) a{
    transform:rotate(5deg);
    position:relative;
    top:-10px;
  }
  
  ul li a:hover,ul li a:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position:relative;
    z-index:5;
  }
  
  ul li{
    margin:1em;
  }
  mat-toolbar{
    justify-content: space-between;
    background-color: #00bcd4;
    color: white;
}
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

* { box-sizing:border-box; }

body { background:url(http://subtlepatterns.com/patterns/little_pluses.png) #cacaca; margin:30px; }

#create, textarea  { 
  float:left; 
  padding:25px 25px 40px;
  margin:0 20px 20px 0;
  width:250px;
  height:250px; 
}

#create {
  user-select:none;
  padding:20px; 
  border-radius:20px;
  text-align:center; 
  border:15px solid rgba(0,0,0,0.1); 
  cursor:pointer;
  color:rgba(0,0,0,0.1);
  font:220px "Helvetica", sans-serif;
  line-height:185px;
}

#create:hover { border-color:rgba(0,0,0,0.2); color:rgba(0,0,0,0.2); }

textarea {
  font:20px 'Gloria Hallelujah', cursive; 
  line-height:1.5;
  border:0;
  border-radius:3px;
  background: linear-gradient(#F9EFAF, #F7E98D);
  box-shadow:0 4px 6px rgba(0,0,0,0.1);
  overflow:hidden;
  transition:box-shadow 0.5s ease;
  font-smoothing:subpixel-antialiased;
  max-width:520px;
  max-height:250px;
}
textarea:hover { box-shadow:0 5px 8px rgba(0,0,0,0.15); }
textarea:focus { box-shadow:0 5px 12px rgba(0,0,0,0.2); outline:none; }

input[type=text] {
  width: 100%;
  padding: 0px 0px;
  margin: 0px 0;
  box-sizing: border-box;
  
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}
.content {
  padding: 32px;
}

.profile-image-toolbar {
  border-radius: 100%;
  margin-right: 8px;
}
.profile-image {
  position: relative;
  width: 120px;
  margin: auto;
}

.profile-image > img {
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-image > button {
  position: absolute;
  bottom: 10px;
  right: 0;
}

.form-container {
  max-width: 400px;
}

.row {
  display: flex;
  gap: 16px;
}

