<!DOCTYPE html>

<html >
  <div id ="backgrounds">
  <ng-container *ngIf="user$ | async as user">
    <mat-toolbar colour ="primary">
     <h1> Welcome to Notes App {{user.displayName}}</h1>
     <div>
      <ng-container *ngIf="user$ | async as user; else loginButton">
        <button mat-button [matMenuTriggerFor]="userMenu">
          <img
            width="30"
            height="30"
            class="profile-image-toolbar"
            [src]="user.photoURL ?? 'assets/images/image-placeholder.png'"
          />
          {{ user.displayName }}
          <mat-icon>expand_more</mat-icon>
        </button>
      </ng-container>
      <ng-template #loginButton>
        <button mat-button routerLink="login">
          <mat-icon>login</mat-icon>
          Login
        </button>
      </ng-template>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/profile">
          <mat-icon>account_circle</mat-icon>
          Profile
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      </mat-menu>
      </div>
  </mat-toolbar>
    
    <div class="note_input" id="note_inputt">
    <div >

        <form (ngSubmit) = "onSubmit()">

          <ul>
            <li>
              <a href="#" contenteditable >
                
          <div><input [(ngModel)] = "note.note" name="note" type="text" placeholder="Enter your note"></div>
            <br><br>
            <button type="submit" class ="button" >Add note</button>
               
          </a>
        </li>
          </ul>
        </form>

        <div class ="grid-container" *ngFor = "let note of notes">
           
              <div>
              <ul class ="grid-item" >
                <li>
                  <a  >  
              <div>  {{ note.note }} </div>
                    <br><br>
              <button (click) = "editnote(note.nid)" class = "button"> Update</button>
                    <button (click) = "deleteNote(note.nid)" class = "button" style="margin-left: 10px"> Delete</button> 
                  </a>
                  
                </li>
              </ul>
            </div>
           
          </div>
    </div>
    </div>

</ng-container>
</div>
</html>