<!DOCTYPE html>
<html class="body">
  <div id ="backgrounds">
  <mat-toolbar colour ="primary">
    Welcome to Notes App

</mat-toolbar>
 
    
    <div class="note_input" id="note_inputt">
    <div class="body">

        <form (ngSubmit) = "onSubmit()">

          <ul>
            <li>
              <a href="#" contenteditable >

          <div><input [(ngModel)] = "note.note" name="note" type="text"></div>
            <br><br>
            <button type="submit" class="button">Update note</button>
          </a>
        </li>
          </ul>
        </form>
    </div>
    </div>
  </div>
</html>